@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;500;700&display=swap");

/* ------------------------- */
/* Custom properites         */
/* ------------------------- */

:root {
  /* colors */
  --clr-strong-cyan: 172 67% 45%;
  --clr-very-dark-cyan: 183 100% 15%;
  --clr-dark-grayish-cyan-1: 186 14% 43%;
  --clr-dark-grayish-cyan-2: 184 14% 56%;
  --clr-light-grayish-cyan-1: 185 41% 84%;
  --clr-light-grayish-cyan-2: 189 41% 97%;
  --clr-white: 0, 0%, 100%;
  --clr-invalid: 29, 77%, 47%;

  /* font-sizes */
  --fs-900: 2.75rem;
  --fs-700: 1.75rem;
  --fs-500: 1.25rem;
  --fs-300: 0.875rem;
  --fs-100: 0.75rem;

  /* font-families */
  --ff-space-mono: "Space Mono", monospace, serif;
}

/* -------------- */
/* CSS Reset      */
/* -------------- */

/* border box means that border and padding are included into width and height of the element */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
figure {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* text-rendering optimization for performance purposes */

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--ff-space-mono);
  background-color: hsl(var(--clr-light-grayish-cyan-1));
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

html:focus-within {
  scroll-behavior: smooth;
}

/* reseting list style only when element has a delared list role. list-style: none , hides the meaning from the screen readers, to mark element as a list after removing styles, make sure you added role="list" */

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

/* these element has default font, so it should be set as a inherit to provide styling */

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* --------------------*/
/* Utility classes     */
/* ------------------- */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.fw-700 {
  font-weight: 700;
}

.fw-500 {
  font-weight: 500;
}

.fw-400 {
  font-weight: 400;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}


.letter-spacing-1 {
  letter-spacing: 1px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-100 {
  font-size: var(--fs-100);
}

.fs-900,
.fs-700 {
  line-height: 1.1;
}

.bg-strong-cyan {
  background-color: hsl(var(--clr-strong-cyan));
}
.bg-very-dark-cyan {
  background-color: hsl(var(--clr-very-dark-cyan));
}
.bg-dark-grayish-cyan-1 {
  background-color: hsl(var(--clr-dark-grayish-cyan-1));
}
.bg-dark-grayish-cyan-2 {
  background-color: hsl(var(--clr-dark-grayish-cyan-2));
}
.bg-light-grayish-cyan-1 {
  background-color: hsl(var(--clr-light-grayish-cyan-1));
}
.bg-light-grayish-cyan-2 {
  background-color: hsl(var(--clr-light-grayish-cyan-2));
}
.bg-white {
  background-color: hsl(var(--clr-white));
}

.text-strong-cyan {
  color: hsl(var(--clr-strong-cyan));
}
.text-very-dark-cyan {
  color: hsl(var(--clr-very-dark-cyan));
}
.text-dark-grayish-cyan-1 {
  color: hsl(var(--clr-dark-grayish-cyan-1));
}
.text-dark-grayish-cyan-2 {
  color: hsl(var(--clr-dark-grayish-cyan-2));
}
.text-light-grayish-cyan-1 {
  color: hsl(var(--clr-light-grayish-cyan-1));
}
.text-light-grayish-cyan-2 {
  color: hsl(var(--clr-light-grayish-cyan-2));
}
.text-white {
  color: hsl(var(--clr-white));
}

/* ------------------------------- */
/* Design system components        */
/* ------------------------------- */

.design-system {
  width: 100vw;
  padding-block: 5rem;;
}

.section-titles {
  margin-block: 1rem;
}

.design-container {
  margin: auto;
  width: 50vw;
  flex-direction: column;
  /* border: 1px solid black; */
}

.design-section > div > div > div {
  border: 1px solid black;
}

/* ----------------- */
/* Components        */
/* ----------------- */


  /* buttons */

.btn-tip,
.btn-reset {
  border: none;
  border-radius: 0.25rem;
}

.btn-tip:hover,
.btn-reset:hover {
  background-color: hsl(var(--clr-light-grayish-cyan-1));
  color: hsl(var(--clr-very-dark-cyan));
  transition: 0.2s;
}

.btn-reset {
  padding: 0.5rem 6rem;
  max-width: 100%;
  margin-top: auto;
}

.btn-tip[aria-selected="true"] {
  background-color: hsl(var(--clr-strong-cyan));
  color: hsl(var(--clr-very-dark-cyan));
}

.btn-reset {
  background-color: hsl(var(--clr-strong-cyan));
  color: hsl(var(--clr-very-dark-cyan));
}


  /* inputs */
  
input {
    border: none;
    border-radius: 0.25rem;
    width: 100%;
    background-color: hsl(var(--clr-light-grayish-cyan-2));
    text-align: right;
  }

.input-bill[type='number'],
.input-number-of-people[type='number'] {
  background-position: 0.5rem 50%;
  background-repeat: no-repeat;
}

/* #input-number-of-people {
  position: relative;
}

#input-number-of-people::after{
  content: "Can't be zero";
  color: hsl(var(--clr-invalid));
  width: 50px;
  height: 10px;
  font-size: 20px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: black;
} */

.input-container {
  position: relative;
}

.input-container span{
  display: none;
  position: absolute;
  right: 0;
  color: hsl(var(--clr-invalid));
  font-size: inherit;
  font-weight: inherit;
}

.input-bill[type='number'] {
  background-image: url(./images/icon-dollar.svg);

}

.input-number-of-people[type='number'] {
  background-image: url(./images/icon-person.svg);
}

input::placeholder {
  color: hsl(var(--clr-dark-grayish-cyan-2));
}

input:focus {
  outline: 2px solid hsl(var(--clr-strong-cyan));
}


/* ----------------- */
/* Layout            */
/* ----------------- */


main {
  /* max-width: 100%; */
  min-height: 25rem;
  width:  50rem;
  border-radius: 1.5rem;
  padding: 2rem;
  box-shadow: 0px 15px 30px 5px rgba(0, 0, 0,0.1);
}

main > * {
  border-radius: 0.75rem;
  width: 100%;
  /* outline: 1px solid red; */
}

.tip-summary {
  padding: 2rem;
  flex-direction: column;
}

.select-tip-container {
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr 1fr;
}

.set-money {
  padding-block: 1rem;
}

.custom-input::placeholder{
  text-align: center;
}

@media (max-width: 55rem) {

  body {
    margin-block: 4rem 0;
  }

  main {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    flex-direction: column;
    width: clamp(15rem,100%,25rem);
  }

  .btn-reset {
    margin-top: 5rem;
  }
}
